$body-bg: #f8f9f9;
$font-family-sans-serif: "Futura";
$body-color: #232d2d;

$theme-colors: (
    "primary": #3498db,
    "bluetwo": #0C76BD,
    "success": #1AAB45
);

@import '~bootstrap/scss/bootstrap.scss';
